{% extends "collection/base.html" %}
{% block content %}
  <style>
    .column-container {
      display: flex;
      justify-content: center;
      max-height: 100vh;
    }
    
    .icon-container {
      text-align: center; 
      width: 100px; 
      height: 100px; 
      border: 1px solid #000;
    }
    
    i.material-icons {
      font-size: 24px; 
      color: #007bff; 
    }
    .container {
      max-width: 100%; 
    }
    .column {
      flex: 0 0 250px; 
      margin: 0 12px; 
      display: flex;
      flex-direction: column;
      max-height: 100%; 
    }
    .title {
      line-height: 1.2; 
      max-height: 7.2em; 
      overflow-y: scroll; 
      text-overflow: ellipsis;
      margin-bottom: 8px; 
    }
    .title::-webkit-scrollbar {
      width: 0.2em; 
    }
    .title::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
    .picture {
      flex: 2; 
    }
    .text {
      flex: 1; 
      text-align: justify; 
    }
    .pagination {
      display: flex;
      justify-content: center;
    }
  </style>

  <div class="container mx-auto"> 
    <div class="text-center"> 
      <div class="flex justify-center p-4">
        <div class="container mx-8 w-full">
          <div class="column-container">
            {% for artwork in artworks %}
              <div class="column border border-slate-300 p-4">
                <div class="title text-blue-500">{{ artwork.title }}</div>
                <div class="picture"><img class="w-40 h-25" src="{{ artwork.image_url }}" /></div>
                <div class="text text-black">
                    <p><strong>Author:</strong> {{ artwork.author.name }}</p>
                 {% if  artwork.date %}
                    <p><strong>Date:</strong> {{ artwork.date }} </p>
                    {% else %}
                    <p><strong>Date:</strong> There is no date
                    {% endif %}

                    {% if artwork.genre.name %}
                    <p><strong>Genre:</strong> {{ artwork.genre.name }}</p>
                    {% else %}
                    <p><strong>Genre:</strong> No Genre </p>
                    {% endif %}



                </div>
                <!-- button to add to saved -->
                <div class="flex items-center justify-center">
                  <form hx-post="{% url 'save_artwork' %}" hx-headers="{'X-CSRFToken': csrf_token}" hx-swap="none" hx-trigger="submit">
                      <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                      <button type="submit" class="flex items-center justify-center">
                          <i class="material-icons">bookmark</i> 
                      </button>
                  </form>
              </div>
              
                
              </div>
        {% endfor %}
          </div>
        </div>
      </div>
    
      <!-- Pagination links -->
      <div class="pagination"> 
        <span class="step-links">
          {% if artworks.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ artworks.previous_page_number }}">previous</a>
          {% endif %}
    
          <span class="current-page">{{ artworks.number }} of {{ artworks.paginator.num_pages }}</span>
    
          {% if artworks.has_next %}
            <a href="?page={{ artworks.next_page_number }}">next</a>
            <a href="?page={{ artworks.paginator.num_pages }}">last</a>
          {% endif %}
        </span>
      </div>
    </div>
        {% if messages %} 
          {% for msg in messages %}
        <div class="alert alert-success flex items-center justify-center" role="alert"> {{ msg }} </div>
        {% endfor %}
        {% else %}
        <div class= "flex items-center justify-center">  </div>
        {% endif %}
    <div class="container mx-auto flex justify-center items-center bg-red-500">
      <a href="{% url 'index' %}" class="mt-2 bg-blue-500 hover-bg-blue-700 text-black font-bold py-2 px-4 rounded-full">
        Go to Saved Artworks
      </a>
    </div>
    
  </div>
</div>
{% endblock %}
