{% extends "collection/base.html" %} {% block content %}

  <div class="flex justify-center bg-stone-500	 p-4">
    {%for artwork in artworks%}
   <div class="container mx-8 border border-slate-300 pb-8 w-full md:w-1/2 lg:w-1/3 p-4 ">
      
      <div class=" w-full md:w-1/2 lg:w-1/3 p-4">
      <h2 class = "text-blue-500" > {{artwork.title}} </h2>
        <img
          class="w-36 h-20"
          src="{{ artwork.image_url }}"
          {% comment %} alt="{{ artwork.title }}" {% endcomment %}
        />
        <h2 class = "text-gray-50" > Date: {{artwork.date}} </h2>
        <h2 class = "text-gray-50" > Genre: {{artwork.genre}} </h2>
        </div>
        
        {% comment %} <h2 class = "text-white-500" > {{artwork.genre}} </h2> {% endcomment %}
    
    </div>
    {% endfor %}
  </div>

{% endblock %}
