{% extends "collection/base.html" %}
{% block content %}
  <style>
    .column-container {
      display: flex;
      justify-content: center;
      max-height: 100vh; 
    }
    .container {
      max-width: 100%; 
    }
    .column {
      flex: 0 0 250px; 
      margin: 0 12px; 
      display: flex;
      flex-direction: column;
      max-height: 100%; 
    }
    .title {
      line-height: 1.2; 
      max-height: 6.2em; 
      min-height: 6.2em;
      overflow-y: scroll; 
      text-overflow: ellipsis;
      margin-bottom: 8px; 
    }
    .title::-webkit-scrollbar {
      width: 0.2em; 
    }
    .title::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
    .picture {
      flex: 2; 
    }
    .text {
      flex: 1; 
      text-align: justify; 
      padding-top: 10px;
    }
    .pagination {
      display: flex;
      justify-content: center;
    }
      .flex items-center justify-center {
        background-color: red;
    }
    .dosBotones {
      display: flex;
      justify-content: space-between;
    }
  </style>
     <div class="dosBotones">
      <div class="container mx-auto flex justify-center items-center">
        <a href="{% url 'artworks' %}"  class="mt-2 bg-blue-500 hover-bg-blue-700 text-black font-bold py-2 px-4 rounded-full">
            Go to All Artworks
        </a>
    </div>

     <div class="container mx-auto flex justify-center items-center">
      <a href="{% url 'allfavorite_artwork' %}" class="mt-2 bg-blue-500 hover-bg-blue-700 text-black font-bold py-2 px-4 rounded-full">
        Go to Favorite Artworks
      </a>
    </div>
      </div>
  
  <h1 class="container mx-auto flex justify-center items-center ">Saved Artworks Section</h1>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="flex justify-center p-4">
        <div class="container mx-8 w-full">
          <div class="column-container">
            {% for artwork in artworks %}
              <div class="column border border-slate-300 p-4">
                <div class="title text-blue-500">{{ artwork.title }}</div>
                <div class="picture"><img class="w-40 h-25" src="{{ artwork.image_url }}" /></div>
                <div class="text text-black">
                  <p><strong> Author:</strong> {{ artwork.author.name }}</p>
                    {% if  artwork.date %}
                    <p><strong>Date:</strong> {{ artwork.date }} </p>
                    {% else %}
                    <p><strong>Date:</strong> There is no date
                    {% endif %}

                    {% if artwork.genre.name %}
                    <p><strong>Genre:</strong> {{ artwork.genre.name }}</p>
                    {% else %}
                    <p><strong>Genre:</strong> No Genre </p>
                    {% endif %}

                <div class="flex items-center justify-center">
                      <form hx-post="{% url 'favorite_artwork' artwork.id %}" hx-headers="{'X-CSRFToken': csrf_token}" hx-swap="none"  hx-class="{'favorited': favorited, 'not-favorited': !favorited}">                    
                      <input type="hidden" name="artwork_id" value="{{ artwork.id }}">
                      <button type="submit" class="flex items-center justify-center">
                          <i class="material-icons">star</i> 
                      </button>
                  </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    
      <div class="pagination">
        <span class="step-links">
          {% if artworks.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ artworks.previous_page_number }}">previous</a>
          {% endif %}
    
          <span class="current-page">{{ artworks.number }} of {{ artworks.paginator.num_pages }}</span>
    
          {% if artworks.has_next %}
            <a href="?page={{ artworks.next_page_number }}">next</a>
            <a href="?page={{ artworks.paginator.num_pages }}">last</a>
          {% endif %}
        </span>
      </div>
     
        </div>
  </div>
{% endblock %}