{% extends "collection/base.html" %}

{% block content %}
<div class=" flex justify-center md:mx-auto md:max-w-screen-2xl px-2">
        {% if user.is_authenticated %}
        <div class="my-5 bg-slate-200 border-l-4 border-slate-500 text-slate-700 p-6" role="alert">
        <p class="font-bold text-white">Hola {{user.username}}</p>
          <p class="font-bold"><a class="text-sky-600" href="{% url 'logout' %}">Termina la sesión</a></p>
        </div>
        {% else %}
        <div class="my-5 bg-slate-200 border-l-4 border-slate-500 text-slate-700 p-6" role="alert">
          <p class="font-bold text-blue">Hola</p>
          <p > Por favor <a class="text-sky-600 font-bold" href="{% url 'login' %}"> inicia sesión </a> para ver esta página.</p>
        </div>
        {% endif %}
</div>
{% endblock content %}
